# Pandas

Pandas es un herramienta de Python que sirve para manipular y analizar datos.

Las dos estructuras básicas que usa pandas para guardar la información son los *DataFrames* y las *Series*.

## Carga del paquete

In [ ]:
import pandas as pd

## *DataFrame*

Un *DataFrame* tiene filas y columnas para almacenar los datos. Cada fila representa los datos de un caso, igual que en una base de datos relacional o en una hoja de cálculo.

In [ ]:
employees = pd.DataFrame(
    {
        "nombre": ["Aitor Tilla", "Helen Chufe", "Lola Mento"],
        "salario": [2000, 2500, 1400],
        "sexo": ["male", "female", "female"]
    },index=['A', 'B', 'C']
)

print(employees)

        nombre  salario    sexo
A  Aitor Tilla     2000    male
B  Helen Chufe     2500  female
C   Lola Mento     1400  female

## Series

Las *Series* son secuencias de datos (como en una lista).

In [ ]:
numbers = pd.Series([500, 200, 300],
             index=['A', 'B', 'C'])
print(numbers)

A    500
B    200
C    300
dtype: int64

Las *Series* se pueden etiquetar igual que los *DataFrames*.

In [ ]:
extra_salary = pd.Series([500, 200, 300, 400, 850, 600], name="extra salary")
print(extra_salary)

0    500
1    200
2    300
3    400
4    850
5    600
Name: extra salary, dtype: int64

Cada columna de un *DataFrame* es una *Series*. Por ejemplo, si queremos trabajar con el sueldo, sacamos únicamente "salary".

In [ ]:
print(employees["salario"])

A    2000
B    2500
C    1400
Name: salario, dtype: int64

In [ ]:
print(f"El salario máximo es {employees['salario'].max()} € y el mínimo {employees['salario'].min()} €")

El salario máximo es 2500 € y el mínimo 1400 €

También podemos sacar datos estadísticos.

In [ ]:
employees.describe()

           salario
count     3.000000
mean   1966.666667
std     550.757055
min    1400.000000
25%    1700.000000
50%    2000.000000
75%    2250.000000
max    2500.000000

## Carga de datos de un CSV

Normalmente, los datos se obtienen de una fuente externa, como puede ser un archivo CSV.

Hemos subido el archivo `employees.csv` a la carpeta `sample_data` de nuestro Colab.

In [ ]:
employees = pd.read_csv("sample_data/employees.csv")

In [ ]:
print(employees)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-JUN-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-JAN-08
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-SEP-03
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-FEB-04
4           202          Pat          Fay      PFAY  603.123.6666  17-AUG-05
5           203        Susan       Mavris   SMAVRIS  515.123.7777  07-JUN-02
6           204      Hermann         Baer     HBAER  515.123.8888  07-JUN-02
7           205      Shelley      Higgins  SHIGGINS  515.123.8080  07-JUN-02
8           206      William        Gietz    WGIETZ  515.123.8181  07-JUN-02
9           100       Steven         King     SKING  515.123.4567  17-JUN-03
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-SEP-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-JAN-01
12          103    Alexander       Hunold   AHUNOLD  590.423.4567  03-JAN-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-MAY-07
14          105        David       Austin   DAUSTIN  590.423.4569  25-JUN-05
15          106        Valli    Pataballa  VPATABAL  590.423.4560  05-FEB-06
16          107        Diana      Lorentz  DLORENTZ  590.423.5567  07-FEB-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-AUG-02
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-AUG-02
19          110         John         Chen     JCHEN  515.124.4269  28-SEP-05
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-SEP-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469  07-MAR-06
22          113         Luis         Popp     LPOPP  515.124.4567  07-DEC-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561  07-DEC-02
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-MAY-03
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-DEC-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-JUL-05
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-NOV-06
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-AUG-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-JUL-04
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-APR-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234  01-MAY-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-OCT-05
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-NOV-07
34          125        Julia        Nayer    JNAYER  650.124.1214  16-JUL-05
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-SEP-06
36          127        James       Landry   JLANDRY  650.124.1334  14-JAN-07
37          128       Steven       Markle   SMARKLE  650.124.1434  08-MAR-08
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-AUG-05
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-OCT-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-FEB-05
41          132           TJ        Olson   TJOLSON  650.124.8234  10-APR-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-JUN-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-AUG-06
44          135           Ki          Gee      KGEE  650.127.1734  12-DEC-07
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634  06-FEB-08
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-JUL-03
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-OCT-05
48          139         John          Seo      JSEO  650.121.2019  12-FEB-06
49          140       Joshua        Patel    JPATEL  650.121.1834  06-APR-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -         124             50
2      AD_ASST    4400             -         101             10
3       MK_MAN   13000             -         100             20
4       MK_REP    6000             -         201             20
5       HR_REP    6500             -         101             40
6       PR_REP   10000             -         101             70
7       AC_MGR   12008             -         101            110
8   AC_ACCOUNT    8300             -         205            110
9      AD_PRES   24000             -          -              90
10       AD_VP   17000             -         100             90
11       AD_VP   17000             -         100             90
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
14     IT_PROG    4800             -         103             60
15     IT_PROG    4800             -         103             60
16     IT_PROG    4200             -         103             60
17      FI_MGR   12008             -         101            100
18  FI_ACCOUNT    9000             -         108            100
19  FI_ACCOUNT    8200             -         108            100
20  FI_ACCOUNT    7700             -         108            100
21  FI_ACCOUNT    7800             -         108            100
22  FI_ACCOUNT    6900             -         108            100
23      PU_MAN   11000             -         100             30
24    PU_CLERK    3100             -         114             30
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
27    PU_CLERK    2600             -         114             30
28    PU_CLERK    2500             -         114             30
29      ST_MAN    8000             -         100             50
30      ST_MAN    8200             -         100             50
31      ST_MAN    7900             -         100             50
32      ST_MAN    6500             -         100             50
33      ST_MAN    5800             -         100             50
34    ST_CLERK    3200             -         120             50
35    ST_CLERK    2700             -         120             50
36    ST_CLERK    2400             -         120             50
37    ST_CLERK    2200             -         120             50
38    ST_CLERK    3300             -         121             50
39    ST_CLERK    2800             -         121             50
40    ST_CLERK    2500             -         121             50
41    ST_CLERK    2100             -         121             50
42    ST_CLERK    3300             -         122             50
43    ST_CLERK    2900             -         122             50
44    ST_CLERK    2400             -         122             50
45    ST_CLERK    2200             -         122             50
46    ST_CLERK    3600             -         123             50
47    ST_CLERK    3200             -         123             50
48    ST_CLERK    2700             -         123             50
49    ST_CLERK    2500             -         123             50

In [ ]:
employees.describe()

       EMPLOYEE_ID        SALARY  DEPARTMENT_ID
count    50.000000     50.000000       50.00000
mean    134.760000   6182.320000       57.60000
std      33.631594   4586.181772       25.11687
min     100.000000   2100.000000       10.00000
25%     112.250000   2725.000000       50.00000
50%     124.500000   4600.000000       50.00000
75%     136.750000   8150.000000       60.00000
max     206.000000  24000.000000      110.00000

Igual que con los comando `head` y `tail` de Linux, podemos visualizar los primeros y los últimos elementos del *DataFrame*

In [ ]:
employees.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

In [ ]:
employees.head(30)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-JUN-02,HR_REP,6500,-,101,40
6,204,Hermann,Baer,HBAER,515.123.8888,07-JUN-02,PR_REP,10000,-,101,70
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-JUN-02,AC_MGR,12008,-,101,110
8,206,William,Gietz,WGIETZ,515.123.8181,07-JUN-02,AC_ACCOUNT,8300,-,205,110
9,100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000,-,-,90
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000,-,100,90
11,102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000,-,100,90
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000,-,102,60
13,104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000,-,103,60
14,105,David,Austin,DAUSTIN,590.423.4569,25-JUN-05,IT_PROG,4800,-,103,60
15,106,Valli,Pataballa,VPATABAL,590.423.4560,05-FEB-06,IT_PROG,4800,-,103,60
16,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-FEB-07,IT_PROG,4200,-,103,60
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-AUG-02,FI_MGR,12008,-,101,100
18,109,Daniel,Faviet,DFAVIET,515.124.4169,16-AUG-02,FI_ACCOUNT,9000,-,108,100
19,110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200,-,108,100
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-SEP-05,FI_ACCOUNT,7700,-,108,100
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-MAR-06,FI_ACCOUNT,7800,-,108,100
22,113,Luis,Popp,LPOPP,515.124.4567,07-DEC-07,FI_ACCOUNT,6900,-,108,100
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-DEC-02,PU_MAN,11000,-,100,30
24,115,Alexander,Khoo,AKHOO,515.127.4562,18-MAY-03,PU_CLERK,3100,-,114,30
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-DEC-05,PU_CLERK,2900,-,114,30
26,117,Sigal,Tobias,STOBIAS,515.127.4564,24-JUL-05,PU_CLERK,2800,-,114,30
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-NOV-06,PU_CLERK,2600,-,114,30
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-AUG-07,PU_CLERK,2500,-,114,30
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-JUL-04,ST_MAN,8000,-,100,50

In [ ]:
employees.tail()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
49,140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

In [ ]:
employees.tail(10)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
40,131,James,Marlow,JAMRLOW,650.124.7234,16-FEB-05,ST_CLERK,2500,-,121,50
41,132,TJ,Olson,TJOLSON,650.124.8234,10-APR-07,ST_CLERK,2100,-,121,50
42,133,Jason,Mallin,JMALLIN,650.127.1934,14-JUN-04,ST_CLERK,3300,-,122,50
43,134,Michael,Rogers,MROGERS,650.127.1834,26-AUG-06,ST_CLERK,2900,-,122,50
44,135,Ki,Gee,KGEE,650.127.1734,12-DEC-07,ST_CLERK,2400,-,122,50
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
49,140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

## Cómo guardar los datos en otro formato

El *DataFrame* se puede guardar en varios formatos como hoja de cálculo o JSON por ejemplo.

In [ ]:
employees.to_excel("sample_data/employees.xlsx")
employees.to_json("sample_data/employees.json")

## Información sobre los tipos de datos

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMPLOYEE_ID     50 non-null     int64
 1   FIRST_NAME      50 non-null     object
 2   LAST_NAME       50 non-null     object
 3   EMAIL           50 non-null     object
 4   PHONE_NUMBER    50 non-null     object
 5   HIRE_DATE       50 non-null     object
 6   JOB_ID          50 non-null     object
 7   SALARY          50 non-null     int64
 8   COMMISSION_PCT  50 non-null     object
 9   MANAGER_ID      50 non-null     object
 10  DEPARTMENT_ID   50 non-null     int64
dtypes: int64(3), object(8)
memory usage: 4.4+ KB

## Selección de subconjuntos de datos

Vamos a utilizar un dataset de Kaggle sobre la calidad del café:
https://www.kaggle.com/datasets/volpatto/coffee-quality-database-from-cqi

In [ ]:
coffe_df = pd.read_csv("/content/merged_data_cleaned.csv")

In [ ]:
coffe_df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [ ]:
coffe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1339 non-null   int64
 1   Species                1339 non-null   object
 2   Owner                  1332 non-null   object
 3   Country.of.Origin      1338 non-null   object
 4   Farm.Name              980 non-null    object
 5   Lot.Number             276 non-null    object
 6   Mill                   1021 non-null   object
 7   ICO.Number             1182 non-null   object
 8   Company                1130 non-null   object
 9   Altitude               1113 non-null   object
 10  Region                 1280 non-null   object
 11  Producer               1107 non-null   object
 12  Number.of.Bags         1339 non-null   int64
 13  Bag.Weight             1339 non-null   object
 14  In.Country.Partner     1339 non-null   object
 15  Harvest.Year           1292 non-null   object
 16  Grading.Date           1339 non-null   object
 17  Owner.1                1332 non-null   object
 18  Variety                1113 non-null   object
 19  Processing.Method      1169 non-null   object
 20  Aroma                  1339 non-null   float64
 21  Flavor                 1339 non-null   float64
 22  Aftertaste             1339 non-null   float64
 23  Acidity                1339 non-null   float64
 24  Body                   1339 non-null   float64
 25  Balance                1339 non-null   float64
 26  Uniformity             1339 non-null   float64
 27  Clean.Cup              1339 non-null   float64
 28  Sweetness              1339 non-null   float64
 29  Cupper.Points          1339 non-null   float64
 30  Total.Cup.Points       1339 non-null   float64
 31  Moisture               1339 non-null   float64
 32  Category.One.Defects   1339 non-null   int64
 33  Quakers                1338 non-null   float64
 34  Color                  1121 non-null   object
 35  Category.Two.Defects   1339 non-null   int64
 36  Expiration             1339 non-null   object
 37  Certification.Body     1339 non-null   object
 38  Certification.Address  1339 non-null   object
 39  Certification.Contact  1339 non-null   object
 40  unit_of_measurement    1339 non-null   object
 41  altitude_low_meters    1109 non-null   float64
 42  altitude_high_meters   1109 non-null   float64
 43  altitude_mean_meters   1109 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 460.4+ KB

Vamos a extraer un subconjunto de los datos que contenga la siguiente información: Country.of.Origin, Region, Variety, Aroma, Flavor, Body, Sweetness, Total.Cup.Points.

In [ ]:
coffe_subset = coffe_df[["Country.of.Origin", "Region", "Variety", "Aroma", "Flavor", "Body", "Sweetness", "Total.Cup.Points"]]

print(coffe_subset)

     Country.of.Origin                         Region  Variety  Aroma  Flavor  \
0             Ethiopia                   guji-hambela      NaN   8.67    8.83
1             Ethiopia                   guji-hambela    Other   8.75    8.67
2            Guatemala                            NaN  Bourbon   8.42    8.50
3             Ethiopia                         oromia      NaN   8.17    8.58
4             Ethiopia                   guji-hambela    Other   8.25    8.50
...                ...                            ...      ...    ...     ...
1334           Ecuador               san juan, playas      NaN   7.75    7.58
1335           Ecuador               san juan, playas      NaN   7.50    7.67
1336     United States  kwanza norte province, angola      NaN   7.33    7.33
1337             India                            NaN      NaN   7.42    6.83
1338           Vietnam                            NaN      NaN   6.75    6.67

      Body  Sweetness  Total.Cup.Points
0     8.50      10.00             90.58
1     8.42      10.00             89.92
2     8.33      10.00             89.75
3     8.50      10.00             89.00
4     8.42      10.00             88.83
...    ...        ...               ...
1334  5.08       7.75             78.75
1335  5.17       8.42             78.08
1336  7.50       7.42             77.17
1337  7.25       7.08             75.08
1338  6.92       6.67             73.75

[1339 rows x 8 columns]

In [ ]:
coffe_subset

,Country.of.Origin,Region,Variety,Aroma,Flavor,Body,Sweetness,Total.Cup.Points
0,Ethiopia,guji-hambela,NaN,8.67,8.83,8.50,10.00,90.58
1,Ethiopia,guji-hambela,Other,8.75,8.67,8.42,10.00,89.92
2,Guatemala,NaN,Bourbon,8.42,8.50,8.33,10.00,89.75
3,Ethiopia,oromia,NaN,8.17,8.58,8.50,10.00,89.00
4,Ethiopia,guji-hambela,Other,8.25,8.50,8.42,10.00,88.83
...,...,...,...,...,...,...,...,...
1334,Ecuador,"san juan, playas",NaN,7.75,7.58,5.08,7.75,78.75
1335,Ecuador,"san juan, playas",NaN,7.50,7.67,5.17,8.42,78.08
1336,United States,"kwanza norte province, angola",NaN,7.33,7.33,7.50,7.42,77.17
1337,India,NaN,NaN,7.42,6.83,7.25,7.08,75.08
1338,Vietnam,NaN,NaN,6.75,6.67,6.92,6.67,73.75

# Filtrado de datos

In [ ]:
# Todos los cafés de Ecuador

coffe_subset[coffe_subset['Country.of.Origin'] == 'Ecuador']

# Ojo, lo que sale con
# coffe_subset['Country.of.Origin'] == 'Ecuador'
# es diferente.

,Country.of.Origin,Region,Variety,Aroma,Flavor,Body,Sweetness,Total.Cup.Points
286,Ecuador,"province of manabi, ecuador",NaN,7.50,7.67,7.83,10.00,83.83
1334,Ecuador,"san juan, playas",NaN,7.75,7.58,5.08,7.75,78.75
1335,Ecuador,"san juan, playas",NaN,7.50,7.67,5.17,8.42,78.08

In [ ]:
# Los cafés con más de 85 puntos

coffe_subset[coffe_subset['Total.Cup.Points'] > 85]

In [ ]:
# Todos los cafés de Colombia, Guatemala o Mexico

coffe_subset[coffe_subset['Country.of.Origin'].isin(['Colombia', 'Guatemala', 'Mexico'])]

In [ ]:
# Todos los cafés cuya región es conocida

coffe_subset[coffe_subset['Region'].notna()]

In [ ]:
# Variedad y aroma de los cafés con más aroma (con una puntuación de aroma de más de 8 puntos)

coffe_subset.loc[coffe_subset['Aroma'] > 8, ["Variety", "Aroma"]]

In [ ]:
# Igual que la anterior sin tener en cuenta cuando no hay variedad o cuando es "Other".

coffe_subset_clean = coffe_subset[coffe_subset['Variety'].notna()]
coffe_subset_clean = coffe_subset_clean[coffe_subset_clean['Variety'] != 'Other']
coffe_subset_clean.loc[coffe_subset_clean['Aroma'] > 8, ["Variety", "Aroma"]]

In [ ]:
# Una lista con todas las variedades de café

coffe_df.Variety.unique()

array([nan, 'Other', 'Bourbon', 'Catimor', 'Ethiopian Yirgacheffe',
       'Caturra', 'SL14', 'Sumatra', 'SL34', 'Hawaiian Kona',
       'Yellow Bourbon', 'SL28', 'Gesha', 'Catuai', 'Pacamara', 'Typica',
       'Sumatra Lintong', 'Mundo Novo', 'Java', 'Peaberry', 'Pacas',
       'Mandheling', 'Ruiru 11', 'Arusha', 'Ethiopian Heirlooms',
       'Moka Peaberry', 'Sulawesi', 'Blue Mountain', 'Marigojipe',
       'Pache Comun'], dtype=object)

## Datos estadísticos

In [ ]:
# Puntuación media de los cafés de Etiopía

coffe_subset.loc[coffe_subset['Country.of.Origin'] == "Ethiopia", "Total.Cup.Points"].mean()

Los datos estadísticos se pueden ver con `describe()` como vimos al principio.

In [ ]:
coffe_subset.describe()

In [ ]:
# Media de dulzor (Sweetness) en función del pais

coffe_subset[["Country.of.Origin", "Sweetness"]].groupby("Country.of.Origin").mean()

In [ ]:
# ¿Cuántos cafés se han contabilizado por cada pais?

coffe_subset.groupby("Country.of.Origin")["Country.of.Origin"].count()

## Ordenación

In [ ]:
coffe_df.sort_values(by="Country.of.Origin")

In [ ]:
# Cafés ordenados por puntuación (de más a menos)

coffe_subset.sort_values(by="Total.Cup.Points", ascending=False)

In [ ]:
# Cafés ordenados por pais (por orden alfabético), región (por orden alfabético) y puntuación (de más a menos)

coffe_subset.sort_values(by=["Country.of.Origin", "Region", "Total.Cup.Points"], ascending=[True, True, False])